# Core testing
pytest
pytest-html
pytest-xdist
pytest-order
pytest-metadata

# Automation
selenium
selenium-wire
webdriver-manager

# Utilities
requests
python-dotenv
PyYAML
colorama
tqdm

# Logging / helpers
coloredlogs
humanfriendly

# Special
blinker<1.7
